.container{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: dashed 1px black;
    width: 100%;
    height: 100%;
}

.login{
    display: flex;
    flex-direction: column;
}